.searchBar {
display: flex;
    align-items: center;
    border-radius: 20px; // Apvalūs kampai
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Šešėlis
    background-color: #f5f5f5; // Šviesus fonas
    padding: 10px; // Vidaus atstumas
    width: 100%; // Pasirinkite reikiamą plotį, pvz., 100% arba nustatykite konkrečią reikšmę
    max-width: 600px; // Pavyzdžiui, galite nustatyti maksimalų plotį
}

.searchInput {
    border: none; // Nenaudokite ribų
    outline: none; // Nenaudokite ryškios ribos
    flex: 1; // Leiskite įvedimo laukui užimti visą erdvę
    padding: 10px; // Vidaus atstumas
    border-radius: 20px; // Apvalūs kampai
}

.searchButton {
    background-color: #947ece; // Pasirinkite tinkamą spalvą
    color: white; // Teksto spalva
    border: none; // Nenaudokite ribų
    border-radius: 20px; // Apvalūs kampai
    padding: 10px 20px; // Vidaus atstumas
    cursor: pointer; // Rodyti, kad tai paspaudžiamas elementas
    transition: background-color 0.3s; // Perėjimo efektas

    &:hover {
        background-color: #947ece; // Šiek tiek tamsesnė spalva, kai pelė užvedama
    }
}